---
layout: layout.liquid
title: Cologne
---

<h1>My <strong>Cologne</strong></h1>
{% itemCard "Cologne", "/images/fragrance.jpeg", "My signature fragrance, and a gift for starting at Deloitte. Always wearing it!" %}
