---
layout: layout.liquid
title: Keys
---

<h1>My <strong>Keys</strong></h1>
{% itemCard "Keys", "/images/keys.jpeg", "These are the keys to both my car and my apartment. I wouldn't get far without them, nor would I get back into my own home without them." %}