body {
    font-family: 'Roboto', sans-serif;
    color: #C8E0F4;
    background: #031927;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 30px auto;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 25px;
    background: linear-gradient(135deg, #FF6B6B, #FFD93D);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-family: 'Montserrat';
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    background: rgb(202, 104, 248);
    background: linear-gradient(45deg, rgb(134, 229, 208) 0%, rgb(240, 108, 108) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.5;
}

.item-card {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  max-width: 250px;
  text-align: center;
  background-color: #f8f8f8;
  display: inline-block;
  vertical-align: top;
}

.item-card img.item-image {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 4px;
}

.item-card h2 {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.item-card p {
  font-size: 1rem;
  color: #555;
}